.mainDiv {
position:relative;
left:150px;
top:20px;
width:800px;
height:800px;
background-color:white;
}

.Nav {
position:relative;
top:5px;
left:150px;
width:150px;
height:auto;
background-color:white;
border-style:groove;
}
